# various
alias ls='ls --color=auto'
alias ll='ls -lh'
alias lla='ll -a'
alias u='cd ..'
alias b='cd -'
alias xo='xdg-open'
alias ob='open-book'
alias su='systemctl --user'
alias bc='sudo bluetoothctl'
alias m='mimeo'
alias d='dragon-drop'

# vim
alias vrc='vim ~/.vim/vimrc'
alias v='vim .'

# Docker
alias dcu='docker-compose up -d'
alias dcub='docker-compose up -d --build'
alias dcd='docker-compose down'
alias dcl='docker-compose logs'
alias dcp='docker-compose ps'
alias dce='docker-compose exec'

# k8
alias k='kubectl'

# ranger
alias ranger='RANGER_LOAD_DEFAULT_RC=FALSE ranger'
alias ra='ranger'

# git
alias gs='git status'
alias gd='git diff'
alias ga='git add'
alias gp='git push'
alias gc='git commit -m'
alias gl='git log --graph --all --decorate --oneline --pretty="%C(auto)%h  %C(auto)%d (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s"'
alias gsu='git submodule update --recursive'
alias gps='git push'
alias gpl='git pull'
