alias ls='ls --color=auto'
alias ll='ls -alFh'
alias ob='open-book'
alias u='cd ..'
alias vrc='vim ~/.vim/vimrc'

# Docker
alias dcu='docker-compose up -d'
alias dcub='docker-compose up -d --build'
alias dcd='docker-compose down'
alias dcl='docker-compose logs'
alias dcp='docker-compose ps'
alias dce='docker-compose exec'

# k8
alias k='kubectl'

# ranger
alias ranger='RANGER_LOAD_DEFAULT_RC=FALSE ranger'

# alias
alias gs='git status'
alias gl='git log --oneline --graph'
alias gd='git diff'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push'
